// Top Header
.top-header
  .container
    .inner-wrap
        .inner-item
          .inner-desc
            | CSDL DỊCH BỆNH
        .inner-item
          span <i class="fa-solid fa-phone"></i>
          .inner-hotline
            span 024 33840233
        .inner-item
          span <i class="fa-solid fa-location-dot"></i>
          .inner-address 
            span Thị trấn .....
// End Top Header
// Header
header.header
  .container
    .inner-wrap
      // Menu Mobile
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      // Logo
      .inner-logo
        a(href="index.html")
          img(
            alt=logo
            src="/assets/images/logo.png"
            )
      // Menu
      nav.inner-menu
        ul
          li
            a.active(href="/") Trang chủ
          li
            a(href="#") Tin tức
          li
            a(href="#") abc
        .inner-overlay
      // Cart
      .inner-button
        a(href="/login") Đăng nhập
          
// End Header