// Top Header
.top-header
  .container
    .inner-wrap
        .inner-item
          i.fa-solid.fa-home
          | DỊCH SRT
        .inner-item
          i.fa-solid.fa-phone
          | 024 33840233
        .inner-item
          i.fa-solid.fa-envelope
          | daihoclamnghiep@vnuf.edu.vn
        .inner-item
          i.fa-solid.fa-building
          | Thị trấn Xuân Mai, huyện Chương Mỹ, Hà Nội
// End Top Header
// Header
header.header
  .container
    .inner-wrap
      // Menu Mobile
      button.inner-menu-mobile
        i.fa-solid.fa-bars
      // Logo
      .inner-logo
        a(href="index.html")
          img(
            alt=logo
            src="/assets/images/logo.png"
            )
      // Menu
      nav.inner-menu
        ul
          li
            a.active(href="/") Trang chủ
          li
            a(href="/about-us") Giới thiêu
          li
            a(href="/contact") Liên hệ
        .inner-overlay
      // Cart
      .inner-button
        a(href=`/${pathAdmin}/account/login`) Đăng Nhập
          
// End Header