extends ../layouts/default

block content
  .contact-page
    .container
      .inner-wrap
        .contact-left
          h2 THÔNG TIN LIÊN HỆ
          hr
          .contact-item
            i.fa-solid.fa-star
            strong Địa chỉ
            p Thị trấn Xuân Mai, huyện Chương Mỹ, Hà Nội.
          .contact-item
            i.fa-solid.fa-star
            strong Email
            p daihoclamnghiep@vnuf.edu.vn
          .contact-item
            i.fa-solid.fa-star
            strong Hotline
            p 024 33840233

        .contact-right
          h2 GỬI Ý KIẾN/GÓP Ý CHO CHÚNG TÔI
          hr
          form(id="contact-create-form")
            input(type="text" name="full_name" id="full_name" placeholder="Họ và tên (bắt buộc)" required)
            input(type="email" name="email" id="email" placeholder="Email (bắt buộc)" required)
            input(type="text" name="phone" id="phone" placeholder="Điện thoại")
            textarea(name="message" id="message" placeholder="Nội dung" rows="6")
            button(class="inner-button") GỬI ĐI
