@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --color-primary: #007F18;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: "Lexend Deca", sans-serif;
}

/* Doanh  */
/* Top Header */
.top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  justify-content: flex-end;
}

.top-header .inner-item {
  margin-left: 40px;
  color: #FFFBEB;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.top-header .inner-item i {
  font-size: 20px;
  margin-right: 8px;
}

@media (max-width: 767.98px) {
  .top-header {
    display: none;
  }
}

/* End Top Header */
/* end Doanh */

/* Container */
.container {
  width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* End Container */

/* Top Header */
/* .top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  justify-content: space-between;
}

.top-header .inner-item {
  color: #fdfcfb;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.top-header .inner-item .inner-hotline,
.top-header .inner-item .inner-address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top-header .inner-item i {
  font-size: 12px;
  margin-right: 8px;
}

@media (max-width: 767.98px) {
  .top-header {
    padding: 30px;

  }
} */

/* End Top Header */

/* Header */
.header {
  background-color: #fff;
  padding: 12px 0;

}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border: 1px solid #e3e3e3;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.header .inner-logo img {
  height: 50px;
  width: auto;
}

.header .inner-menu>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.header .inner-menu>ul>li {
  margin: 0 20px;
  position: relative;
}

.header .inner-menu>ul>li>a {
  font-size: 16px;
  font-weight: 500;
  color: #25282B;
  text-transform: capitalize;
}

.header .inner-menu>ul>li>a.active,
.header .inner-menu>ul>li>a:hover {
  color: var(--color-primary);
}

.header .inner-menu>ul>li>i {
  margin-left: 5px;
}

.header .inner-menu>ul>li>ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  width: 280px;
  z-index: 999;
}

.header .inner-menu>ul>li:hover>ul {
  display: block;
}

.header .inner-menu>ul>li>ul>li>a {
  display: block;
  padding: 8px 22px;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.header .inner-menu>ul>li>ul>li>a:hover {
  color: #fff;
  background-color: var(--color-primary);
}

.header .inner-cart a {
  display: inline-flex;
  align-items: center;
}

.header .inner-cart img {
  height: 26px;
  width: auto;
}

.header .inner-cart span {
  display: inline-block;
  background-color: #FF3904;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  padding: 1px 5px;
  margin-left: 4px;
  position: relative;
}

.header .inner-cart span::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 1.8px solid transparent;
  border-bottom: 1.8px solid transparent;
  border-right: 3.7px solid #FF3904;
  position: absolute;
  left: -3.5px;
  top: 5.5px;
}

/* Doanh */
.header .inner-button .login {
  border: 2px solid #007F18;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
}

.header .inner-button .logout {
  border: 2px solid #FF0000;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
}

.header .inner-button .logout {
  color: #FF0000;
}

.header .inner-button .logout:hover {
  background-color: transparent;
  font-weight: 800;
}

.header .inner-button:hover .login {
  background-color: #007F18;
}


.header .inner-button .login {
  color: #007F18;
}

.header .inner-button .login:hover {
  color: #fff;
}

/*  */

.header .inner-menu-mobile {
  display: none;
}

@media (max-width: 1199.98px) {
  .header .inner-menu>ul>li {
    margin: 0 12px;
  }
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
  }

  .header .inner-menu-mobile {
    display: inline-block;
    font-size: 22px;
    border: 0;
    background-color: transparent;
    color: #25282B;
    cursor: pointer;
  }

  .header .inner-menu.active {
    left: 0;
  }

  .header .inner-menu>ul {
    width: 280px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .header .inner-menu>ul>li {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
  }

  .header .inner-menu>ul>li>a {
    flex: 1;
    padding: 10px;
  }

  .header .inner-menu>ul>li>i {
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ddd;
  }

  .header .inner-menu>ul>li:hover>ul {
    display: none;
  }

  .header .inner-menu .inner-overlay {
    width: 100vw;
    height: 100%;
    background-color: #00000082;
    position: absolute;
    top: 0;
    left: -15px;
  }

  .header .inner-menu>ul>li.active>i::before {
    content: "\f0d8";
  }

  .header .inner-menu>ul>li.active>ul {
    display: block;
    position: static;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .header .inner-logo img {
    height: 40px;
  }
}

/* End Header */



/* Footer */
.footer {
  background-color: var(--color-primary);

  border-radius: 30px 30px 0 0;
  padding: 30px 0 40px 0;
}

.footer .inner-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #CCD1D2;
  margin-bottom: 40px;
}

.footer .inner-middle .inner-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 40px;
}

.footer .inner-middle .inner-links ul li a {
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.footer .inner-middle .inner-links ul li a:hover {
  color: black;
}

.footer .inner-middle .inner-socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 40px;
}

.footer .inner-middle .inner-socials ul li a {
  font-size: 24px;
  color: white;
}

.footer .inner-middle .inner-socials ul li a:hover {
  color: black;
}

.footer .inner-bottom {
  display: flex;
  align-items: center;
}

.footer .inner-bottom .inner-logo {
  width: 224px;
}

.footer .inner-bottom .inner-logo img {
  width: 100%;
  height: auto;
}

.footer .inner-bottom .inner-copyright,
.footer .inner-bottom .inner-links {
  width: calc(50% - 112px);
}

.footer .inner-bottom .inner-copyright {
  font-weight: 500;
  font-size: 13px;
  color: white;
}

.footer .inner-bottom .inner-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 40px;
}

.footer .inner-bottom .inner-links ul li a {
  font-weight: 500;
  font-size: 13px;
  color: white;
}

@media (max-width: 991.98px) {

  .footer .inner-middle {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .footer .inner-bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer .inner-bottom .inner-copyright,
  .footer .inner-bottom .inner-links {
    width: 100%;
  }

  .footer .inner-bottom .inner-copyright {
    text-align: center;
    order: 2;
  }

  .footer .inner-bottom .inner-logo {
    width: 100%;
    text-align: center;
    order: 0;
  }

  .footer .inner-bottom .inner-logo img {
    width: 224px;
    height: auto;
  }

  .footer .inner-bottom .inner-links {
    order: 1;
  }

  .footer .inner-bottom .inner-links ul {
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .footer .inner-middle .inner-links ul {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .footer {
    border-radius: 25px 25px 0 0;
    padding: 40px 0 40px 0;
  }

  .footer .inner-middle {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .footer .inner-middle .inner-links ul {
    gap: 10px 25px;
  }

  .footer .inner-middle .inner-socials ul {
    gap: 10px 25px;
  }
}

/* End Footer */


/* Map */
.section-1 {
  padding: 60px 0 30px 0;
  background-image: url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Bọc 2 panel trong .content */
.content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  /* Khoảng cách giữa hai panel */
}

/* Panel tìm kiếm (1 phần) */
.search-panel {
  flex: 1;
  /* Chiếm 1 phần */
  background: #f7f6f6;
  box-shadow: 5px 5px 10px rgba(1, 0, 0, 1);
  padding: 20px;
  border-radius: 8px;

}

/* Panel bản đồ (4 phần) */
.map-panel {
  flex: 4;
  /* Chiếm 4 phần */
  position: relative;
}

/* Map */
#map {
  height: 500px;
  width: 100%;
  border-radius: 8px;
}

/* Legend (chú thích) */
.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Màu sắc chú thích */
.legend li.red {
  color: red;
}

.legend li.yellow {
  color: orange;
}

.legend li.green {
  color: green;
}

/* end Map */


@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .search-panel,
  .map-panel {
    flex: unset;
    width: 100%;
  }

  #map {
    height: 350px;
  }
}

/* Doanh */
/* Section 3 */
.section-3 {
  padding-bottom: 60px;
}

.section-3 .container .box-title {
  color: #007F18;
  /* Màu xanh */
}

/* .section-3 .inner-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} */

.section-3 .inner-item {
  aspect-ratio: 382/269;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2.28px 2.28px 0px #00000040;
}

.section-3 .inner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media (max-width: 991.98px) {
  .section-3 .inner-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.section-3 .swiper-wrapper {
  padding-bottom: 45px;
}

.section-3 .swiper-pagination {
  bottom: 0;
}

.section-3 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  opacity: 1;
}

.section-3 .swiper-pagination-bullet-active,
.section-3 .swiper-pagination-bullet:hover {
  background-color: var(--color-primary);
}

@media (max-width: 575.98px) {
  .section-3 {
    padding-bottom: 45px;
  }

  .section-3 .swiper-wrapper {
    padding-bottom: 30px;
  }

  .section-3 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* .section-3 .inner-wrap {
    grid-template-columns: repeat(1, 1fr);
  } */
}

/* End Section 3 */

/* Map */
.saveBtnMap {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #888787;
  background: white;
  color: black;
  cursor: pointer;
}

.saveBtnMap i {
  margin-right: 5px;
}

/* endMap */

/* hiển thị thông tin */
.info-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: #333;
  max-width: 280px;
}

.info-box h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #2c7be5;
  /* xanh nhạt */
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 6px;
}

.info-box table {
  width: 100%;
  border-collapse: collapse;
}

.info-box table td {
  padding: 6px 8px;
  font-size: 14px;
}

.info-box table tr:nth-child(even) {
  background-color: #f9f9f9;
  /* sọc ziczac nhẹ */
}

.info-box table td:first-child {
  font-weight: 600;
  color: #555;
  width: 40%;
}

/* end */

/* end  */