extends ../layouts/default.pug
include ../mixins/optionHuyen.pug
include ../mixins/optionXa.pug
block main
    h1.box-title Thêm mới

    .section-8
      form#dieutra-create-form
        .inner-group(style="display:none")
          label(class="inner-label" for="matinh") Id_Tỉnh
          input(type="text" id="matinh" name="matinh" value=matinh readonly)
        .inner-group
          label(class="inner-label" for="huyen") Huyện
          select(id="huyen" name="huyen" class="huyen")
            option(value="") ---Chọn--- 
            +optionHuyen(ListHuyen)
        .inner-group
          label(class="inner-label" for="xa" ) Xã
          select(id="xa" name="xa" class="xa")
            option(value="") ---Chọn--- 
            +optionXa(ListXaTheoHuyen)
        .inner-group
          label(class="inner-label" for="sosau") Số sâu non
          input(type="number" id="sosau" name="sosau")
        .inner-group
          label(class="inner-label" for="socay") Số cây
          input(type="number" id="socay" name="socay")
        .inner-group.inner-two-col
          label(class="inner-label" for="diachi") Địa chỉ cụ thể
          input(type="text" id="diachi" name="diachi")
        .inner-group
          label(class="inner-label" for="loai_cay") Loài cây
          select(id="loai_cay" name="loai_cay" required)
            option(value="") ---Chọn---
            option(value="thongmavi") Thông Mã Vĩ
            option(value="thongnhua") Thông Nhựa
        .inner-group
          label(class="inner-label" for="duong_kinh_tb") Đường kính TB (cm)
          input(type="number" id="duong_kinh_tb" name="duong_kinh_tb" step="0.5" min="0" required)
        .inner-button.inner-two-col
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/dieutra/${matinh}/list`) Quay lại danh sách
