extends ../layouts/default.pug
include ../mixins/optionTinh.pug
include ../mixins/optionHuyen.pug
include ../mixins/optionXa.pug


block main
  h1.box-title Tạo dữ liệu SRT

  .section-8
    form#dulieu-create-form
      .inner-group
        label(class="inner-label" for="tinh") Tỉnh
        select(id="tinh" name="tinh" class="tinh" required)
          option(value="") ---Chọn---
          +optionTinh(ListTinh)
      .inner-group
        label(class="inner-label" for="huyen") Huyện
        select(id="huyen" name="huyen" class="huyen")
          option(value="") ---Chọn--- 
          +optionHuyen(ListHuyen)
      .inner-group
        label(class="inner-label" for="xa" ) Xã
        select(id="xa" name="xa" class="xa")
          option(value="") ---Chọn--- 
          +optionXa(ListXaTheoHuyen)
      //- .inner-group
      //-   label(class="inner-label" for="name") Địa điểm điều tra
      //-   input(type="text" id="name" name="name")               
      .inner-group
        label(class="inner-label" for="position") Tiểu khu
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Khoảnh
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Lô
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Diện tích ảnh hưởng
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Loại rừng
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Năm trồng
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="position") Chủ rừng
        input(type="text" id="position" name="position")
      .inner-group
        label(class="inner-label" for="phancap") Phân cấp
          select(id="phancap" name="phancap")
            option(value=1 selected) 1
            option(value=2 ) 2
            option(value=3 ) 3
      .inner-button.inner-two-col
        button.create-wrong Tạo mới
    .inner-back
      a(href=`/${pathAdmin}/sauromthong/list`) Quay lại danh sách