extends ../layouts/default.pug

block main
  .error-container
    h1 403
    h2 #{pageTitle || "Không có quyền truy cập"}
    p #{message || "Bạn không được phép truy cập trang này hãy chọn trang khác"}
