extends ../layouts/default.pug

block main
    h1.box-title Tạo bản đồ
  
    .section-8
      form#map-create-form
        .inner-group.inner-two-col(style="display:none")
          label(class="inner-label" for="matinh") Mã tỉnh
          input(type="text" id="matinh" name="matinh" value=matinh) 
        .inner-group.inner-two-col
          label(class="inner-label" for="title") Thông tin
          input(type="text" id="title" name="title")
        .inner-group
            label(class="inner-label" for="map") Loại bản đồ
            select(id="map" name="map" class="huyen")
              option(value="Bản đồ ranh giới hành chính" selected) Bản đồ ranh giới hành chính
              option(value="Bản đồ hiện trạng rừng") Bản đồ hiện trạng rừng
              option(value="Bản đồ rừng thông") Bản đồ rừng thông
              option(value="Bản đồ các khu vực bị sâu róm thông") Bản đồ các khu vực bị sâu róm thông
              option(value="Bản đồ nhiệt độ") Bản đồ nhiệt độ
              option(value="Bản đồ lượng mưa") Bản đồ lượng mưa
              option(value="Bản đồ địa hình") Bản đồ địa hình
              option(value="Bản đồ thổ nhưỡng") Bản đồ thổ nhưỡng
              option(value="khac") Bản đồ khác
        .inner-group.inner-two-col
          label(class="inner-label" for="file") Chọn file
          input(type="file" id="file" name="file" accept=".rar")
          small Chỉ chọn file .rar &lt; 50MB (lớn hơn vui lòng liên hệ BQT)
        .inner-group.inner-two-col
          label(class="inner-label" for="content") Mô tả
          textarea(id="content" textarea-mce name="content")
        .inner-button.inner-two-col
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/map/${matinh}/list`) Quay lại danh sách