doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}

    // Leaflet CSS
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")

    // Font Awesome
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")

    // Custom CSS
    link(rel="stylesheet", href="/assets/css/style.css")

  body
    include ../partials/header
    block content
    include ../partials/footer

    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js")
    script(src="/assets/js/map.js")
    script(src="/assets/js/script.js")
