header.header
  .inner-logo
    a(href="")
      span SRT
      span Admin
  .inner-wrap
    .inner-notify
      img(src="", alt="")
      span 6
    .inner-account
      .inner-avatar
        img(src="", alt="")
      .inner-text
        .inner-name Nuyễn Văn A
        .inner-role Admin
    button.inner-button-menu
      <i class="fa-solid fa-bars"></i>